* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

header {
    border-bottom: solid 2px #999;
}

h1 {
    padding: 10px;
    padding-left: 5%;
    span {
        color: #0d6efd;
    }
}
.tableHeader{
    padding-left: 0;
}

.tables {
    width: 100%;
    height: 400px;
    background-color: #eee;
    box-shadow: 0 0 20px #333;
    overflow: auto;
}

.tables2 {
    width: 100%;
    height: 475px;
    background-color: #eee;
    box-shadow: 0 0 20px #333;
    overflow: auto;
}
.textTop{
    display: flex;
    text-align: left;
    width: 100%;
    font-weight: bold;
    text-align: center;
    height: 50px;
    justify-content: center;
    span{
        display: inline-block;
        align-self: flex-end;
        text-align: center;
        letter-spacing: 1em;
    }
}
.textLeft{
    width: 50px;
    padding: 5px;
    height: 350px;
    display: inline-block;
    span{
        height: 100%;
        width: 100%;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.3em;
    }
}
.tableInline{
    width: 94%;
    height: 350px;
    display: inline-block;
}
.bottomHelper{
    width: 100%;
    height: 400px;
}

.headFields{
    font-weight: bold;
    border: 0px;
}
#transportTable{
    border-collapse:collapse;
    td{
        min-width: 150px;
        height: 50px;
        text-align: center;
    }
    tr:hover{
        background-color: #ddd
    }
    tr > :not(:first-child){
        border-left: 2px solid rgb(33, 37, 41);
    }
}
.buttons {
    margin: 0;
    width: 100%;
    height: 50px;
}

.result {
    height: 0px;
    opacity: 0%;
    overflow: hidden;
    p {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
    }
}

.graph {
    padding: 2px;
    position: relative;
    height: 0px;
    opacity: 0%;
    // overflow: hidden;
    .border-top {
        position: absolute;
        background-color: #999;
        right: 0;
        height: 2px;
        width: 40%;
        top: 0;
        // box-shadow: 0 -2px 50px black;
    }
    
    .border-bottom {
        position: absolute;
        background-color: #999;
        left: 0;
        height: 2px;
        width: 40%;
        bottom: 0;
    }
    
    .border-left {
        position: absolute;
        background-color: #999;
        left: 0;
        height: 40%;
        width: 2px;
        bottom: 0;
    }
    
    .border-right {
        position: absolute;
        background-color: #999;
        right: 0;
        height: 40%;
        width: 1px;
        top: 0;
    }
}

.graph-show {
    height: 500px;
    opacity: 100%;
    transition: height .5s, opacity 1s;
}

.about {
    .underline {
        height: 2px;
        background-color: #999;
        left: 0;
        width: 200px;
    }
}

.tables-result {
    position: relative;
    height: 0px;
    opacity: 0%;
    background-color: #eee;
    box-shadow: 0 0 20px #333;
    overflow: auto;
}

.tables-result-show {
    height: 100%;
    max-height: 400px;
    opacity: 100%;
    transition: height .5s, opacity 1s;
}

footer {
    // position: absolute;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    // background-color: #ccc;
}

footer:before {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    height: 2px;
    width: 80%;
    border-top: 2px solid #999;
}